<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--适配华为（huawei）刘海屏-->
    <meta-data
        android:name="android.notch_support"
        android:value="true" />
    <!--适配小米（xiaomi）刘海屏-->
    <meta-data
        android:name="notch.config"
        android:value="portrait|landscape" />

    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-feature android:name="android.hardware.camera.any" />
    <!--适配Android R包可见性 开始-->
    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE">

            </action>
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE">

            </action>
        </intent>
    </queries>
    <!--适配Android R包可见性 结束-->

    <application
        android:networkSecurityConfig="@xml/network_config"
        android:usesCleartextTraffic="true">
        <!-- 文件读取处理 -->
        <!--        <provider
                    android:name="androidx.core.content.FileProvider"
                    android:authorities="${applicationId}.provider"
                    android:exported="false"
                    android:grantUriPermissions="true">
                    <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/file_paths" />
                </provider>-->

        <!-- 屏幕适配 start-->
<!--        <meta-data
            android:name="design_width_in_dp"
            android:value="${AUTO_SIZE_DESIGN_WIDTH}" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="${AUTO_SIZE_DESIGN_HEIGHT}" />-->
        <!-- 屏幕适配  end -->
    </application>
</manifest>